			/* Interfaccia */
* {
	box-sizing: border-box !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
	padding: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 16px;
}

h2 {
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
}

.col-md-2 {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px 0px;
}

#selectionContainer {
	overflow: hidden;
	padding: 0px;
}

#selectionViewer {
	height: calc(100% - 64px);
	overflow: auto;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

.selectionLabel {
	text-align: center;
	height: 25px;
	margin: 2px;
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 2px 4px;
	cursor: default;
}

.nav li {
	cursor: pointer;
}

.nav-tabs {
	border-radius: 4px;
}

.nav-pills a {
	text-align: center;
}

			/* Visualizzazioni */
			
#svgContainer {
	position: relative;
	border: 1px solid #ddd;
	border-top-width: 0px;
	border-radius: 0px 4px 4px 4px;
	width: 100%;
	height: 76vh;
	overflow: hidden;
}

#loader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#loader h3 {
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	top: 35%;
}

.progress-bar {
	width: 80%;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 10%;
}

#nodeSelector {
	stroke: blue;
	stroke-width: 1;
	stroke-dasharray: 5, 5;
	fill: rgba(50, 50, 255, 0.25);
}

g.nv-force-node circle {
	stroke: rgba(50, 50, 50, 0.5);
	stroke-width: 0.75px;
}

.nvtooltip {
	text-align: left;
	padding: 4px;
}

.nvtooltip p {
	text-align: left;
	padding: 4px 0px;
}

			/* Su schermi larghi */

@media (min-width: 1000px) {

	.col-md-2 {
		height: 80vh;
	}

}