			/* Interfaccia */
* {
	box-sizing: border-box !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
	padding: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 16px;
}

h2 {
	font-size: 22px;
	text-align: center;
	margin: 16px auto;
}

.col-md-2 {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px 0px;
}

#viewsContainer {
	padding-bottom: 10px;
}

.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	margin-right: 8px;
	vertical-align: text-bottom;
}

.nodeIcon {
	background-image: url("icons/nodeIcon.png");
}

.barIcon {
	background-image: url("icons/barIcon.png");
}

.patternIcon {
	background-image: url("icons/patternIcon.png");
}

.nav li a {
	cursor: pointer;
}

.nav-tabs {
	border-radius: 4px;
}

.nav-pills a {
	text-align: center;
	color: black;
}

form {
	position: relative;
	top: -2px;
	padding: 14px 10px 6px;
	border: 1px solid #ccc;
	border-top: 0px;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 4px;
}

label {
	display: block;
	font-weight: normal;
	font-size: 13.333px;
}

input[type="range"] {
	height: 3px;
    margin-bottom: 20px;
	display: inline-block;
	width: calc(100% - 50px);;
}

.formValue {
	font-size: 12px;
	position: relative;
	top: 2px;
	left: 3px;
	display: inline-block;
	width: 45px;
	text-align: center;
}

hr {
	margin-top: 5px;
	margin-bottom: 12px;
}

			/* Interfaccia per la selezione */

#selectionTab {
	float: right; 
	display: none;
	position: relative;
	left: 2px;
}

#closeSelection {
	margin-left: 8px;
	font-weight: normal;
	opacity: 0.4;
}

#closeSelection:hover {
	color: rgb(200, 50, 50);
	opacity: 0.6;
}

#selectionContainer {
	overflow: hidden;
	padding: 0px;
}

#buttonsContainer {
	display: none;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

#buttonsContainer .btn {
	padding: 6px 8px 6px 6px;
	width: 42%;
	margin-bottom: 10px;
}

#selectionViewer {
	height: calc(100% - 148px);
	overflow-y: auto;
	padding: 10px 10px 6px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	border-top: 1px solid #ddd;
}

.selectionLabel {
	text-align: center;
	font-size: 14px;
	margin: 2px;
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 2px 4px;
	cursor: default;
}

			/* Riquadro SVG */
			
#svgContainer {
	position: relative;
	border: 1px solid #ddd;
	border-top-width: 0px;
	border-radius: 0px 4px 4px 4px;
	width: 100%;
	height: 76vh;
	overflow: hidden;
}

#loader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#loader h3 {
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	top: 35%;
}

.progress {
	width: 80%;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 10%;
}

#nodeSelector {
	position: absolute;
	border: 0.5px dashed blue;
	background-color: rgba(50, 50, 255, 0.25);
}

g.nv-force-node circle {
	stroke: rgba(50, 50, 50, 0.5);
	stroke-width: 0.75px;
}

.nvtooltip {
	text-align: left;
	padding: 4px;
}

.nvtooltip p {
	text-align: left;
	padding: 4px 0px;
}

			/* Su schermi larghi */

@media (min-width: 992px) {

	.col-md-2 {
		height: 80vh;
	}

}