			/* Principali elementi interfaccia */
* {
	box-sizing: border-box !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
	padding: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 16px;
	cursor: default;
}

#infoOpener {
	opacity: 0;
	transition: opacity 0.1s;
	cursor: pointer;
	font-size: 0.8em;
	position: relative;
	bottom: 0.2em;
}

#info {
	display: none;
}

h2 {
	font-size: 22px;
	text-align: center;
	margin: 16px auto;
}

.col-md-2 {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px 0px;
}

#viewsContainer {
	padding-bottom: 10px;
}

.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	margin-right: 8px;
	vertical-align: text-bottom;
}

.nodeIcon {
	background-image: url("icons/nodeIcon.png");
}

.barIcon {
	background-image: url("icons/barIcon.png");
}

.patternIcon {
	background-image: url("icons/patternIcon.png");
}

.nav li a {
	cursor: pointer;
}

.nav-tabs {
	border-radius: 4px;
}

.nav-pills a {
	text-align: center;
	color: black;
}

.updater[disabled], #loader {
	cursor: wait !important;
}

.updater[disabled]:hover {
	background-color: initial;
	color: initial !important;
}

.nav > li[data-chart="pattern"] {
	display: none;
}

			/* Menu di opzioni per il node chart */

form {
	position: relative;
	top: -2px;
	padding: 12px 10px 6px;
	border: 1px solid #ccc;
	border-top: 0px;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 4px;
}

label {
	display: block;
	font-weight: normal;
	font-size: 13.333px;
}

input[type="range"] {
	height: 3px;
    margin-bottom: 16px;
	display: inline-block;
	width: calc(100% - 50px);;
}

.formValue {
	font-size: 12px;
	position: relative;
	top: 2px;
	left: 3px;
	display: inline-block;
	width: 45px;
	text-align: center;
}

hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

#markSpecial {
	margin: 4px 5px 8px;
    position: relative;
    top: 2px;
}

			/* Interfaccia per la selezione */

#selectionTab {
	float: right; 
	display: none;
	position: relative;
	left: 2px;
}

#closeSelection {
	margin-left: 8px;
	font-weight: normal;
	opacity: 0.4;
}

#closeSelection:hover {
	color: rgb(200, 50, 50);
	opacity: 0.6;
}

#selectionContainer {
	overflow: hidden;
	padding: 0px;
}

#buttonsContainer {
	display: none;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

#buttonsContainer .btn {
	padding: 6px 8px 6px 6px;
	width: 42%;
	margin-bottom: 10px;
}

#selectionViewer {
	height: calc(100% - 148px);
	overflow-y: auto;
	padding: 10px 10px 6px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	border-top: 1px solid #ddd;
}

.selectionLabel {
	text-align: center;
	font-size: 14px;
	margin: 2px;
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 2px 4px;
	cursor: default;
	background-color: #fff;
}

			/* Riquadro centrale */
			
#svgContainer {
	position: relative;
	border: 1px solid #ddd;
	border-top-width: 0px;
	border-radius: 0px 4px 4px 4px;
	width: 100%;
	height: 76vh;
	overflow: hidden;
}

/* Legenda interazione node chart */

#helpOpener {
	position: absolute;
	top: 12px;
	left: 12px;
}

#helpInfo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;	/* 12% sliding */
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	transition: width 0.25s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #eee;
	text-align: center;
}

#helpInfo div {
	display: block;
	width: 100%;
}

.legendImg {
	display: block;
	width: 32px;
	margin: 10px auto;
}

.smaller {
	font-size: 0.8em;
}

#ctrl {
	border: 2px solid black;
	border-radius: 20%;
	padding: 1px 2px;
	background-color: #eee;
	color: black;
	display: inline !important;
	font-size: 10px;
	margin: 4px 2px;
}

/* Informazioni sulla visualizzazione */

#viewingInfoToggler {
	z-index: 1;
	opacity: 1 !important;
	position: absolute;
	left: 12px;
	top: 16px;
}

#viewingInfoToggler:hover {
	cursor: pointer;
}

#viewingInfo {
	position: absolute;
	left: 75%;
	top: 0px;
	width: 25%;
	height: 100%;
	background-color: rgba(246, 246, 255, 0.85);
	border-left: 1px solid #ddd;
	padding: 10px;
	transition: width 0.25s;
	overflow-x: hidden;
	overflow-y: auto;
}

#viewingInfo h3 {
	text-align: center;
	margin: 6px 0px 20px;
}

#viewingContent {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

.well {
	text-align: center;
	padding: 16px;
	margin: 10px;
	background-color: #e4e4e4;
	border: 1px solid #d2d2d2;
}

.description {
	margin: 10px auto;
	width: 100%;
}

#reselectContainer {
	display: none;
}

#viewingInfo hr {
	margin: 14px auto 10px;
}

#reselect {
	display: block;
	margin: 12px auto;
}

/* Barra di caricamento */

#loader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#loader h3 {
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	top: 35%;
}

.progress {
	width: 80%;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 10%;
}

/* Dentro l'elemento SVG */

#nodeSelector {
	position: absolute;
	border: 0.5px dashed blue;
	background-color: rgba(50, 50, 255, 0.25);
}

g.nv-force-node circle {
	stroke: rgba(50, 50, 50, 0.5);
	stroke-width: 0.75px;
	opacity: 0.9;
}

.nvtooltip {
	text-align: left;
	padding: 4px;
}

.nvtooltip p {
	text-align: left;
	padding: 4px 0px;
}

.patternLine {
	stroke: black;
	stroke-width: 0.5px;
	opacity: 0.5;
}

.nvd3.nv-scatter .nv-groups .nv-point.sender.hover {
	stroke-width: 5px !important;
}

.nvd3.nv-scatter .nv-groups .nv-point.receiver.hover {
	stroke: gray !important;
	stroke-width: 2px !important;
}

			/* Su schermi larghi */

@media (min-width: 992px) {

	.col-md-2 {
		height: 80vh;
	}

}